################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagementSQLServer/TaskManagementSQLServer.dbmdl
